* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(24, 24, 24);
  color: white;
  margin: 20px auto;
  max-width: 800px;
}

#accordion {
  width: 800px;
}

#accordion li {
  list-style: none;
  text-align: center;
}

#accordion li label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-top: 1px solid #09bdbd;
}

#accordion label {
  transition: 0.5s;
}

#accordion:hover label {
  color: orange;
  transition: 0.5s;
}

#accordion input:checked ~ label {
  color: orange;
}

#accordion:active .accordion__container {
  opacity: 0.5;
  transition: 0.7s;
}

#accordion li label span {
  font-size: 35px;
  color: white;
  transition: 0.5s;
  color: orange;
}

span {
  opacity: 0;
}

#accordion:hover span {
  opacity: 1;
}

.accordion__container:hover {
  opacity: 100;
}

#accordion input[type="radio"] {
  display: none;
}

#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  cursor: pointer;
  transition: 1s;
}

#accordion input[type="radio"]:checked + label + .content {
  max-height: 800px;
}

input[type="radio"]:checked + label > span {
  transform: rotate(225deg);
  transition: 0.8s;
}

.accordion__mem__1 {
  border-radius: 8px;
}
